.container
  .row{style: 'margin-top: 25px; margin-bottom: 50px;'}
    .span12{style: 'text-align: center'}
      #page-h1
        Что вам нужно знать о Гурмэп

  .row{style: 'margin-bottom: 25px;'}
    .span6.page-text-block
      %h3
        Что такое Гурмэп
      Gurmap.ru - это сервис бесплатных скидок в кафе и рестораны. Нашим посетителям интересно завтракать, обедать и ужинать со скидкой. Заведения, зарегистрированные в нашей системе, предоставляют скидку от 30% в выбранные ими дни и часы. Поэтому, в результате сотрудничества с нами, вы гарантированно получаете приток новых клиентов на выгодных для вашего бизнеса условиях.
    .span6.page-text-block
      %h3
        Легко начать
      Для начала работы с нами вам нужно лишь зарегистрироваться в нашей системе и заполнить профиль вашего заведения. После непродолжительной модерации ваше заведение появится на нашей карте. В качестве бонуса мы приведём вам первую сотню клиентов совершенно бесплатно. 

  .row{style: 'margin-bottom: 25px;'}
    .span6.page-text-block
      %h3
        А из нашего окна - площадь красная видна
      Мы абсолютно уверены, что 80% клиентов выбирают место для трапезы по географическому признаку. Мало кто решится пересечь полгорода только для того, чтобы пообедать. Одним из основных достоинств нашего сервиса является удобная карта, позволяющая пользователю найти заведения, расположенные рядом с ним. Сотрудничая с нами, вы привлечёте новых клиентов, проживающих или работающих недалеко от вашего заведения.
    .span6.page-text-block
      %h3
        Акцентируйте внимание на главном
      Первое что замечает наш посетитель, открыв профиль заведения - это фотографии интерьера. Именно по ним он получает первое представление и об атмосфере и об уровне сервиса. Загрузите ваши лучшие фотографии, чтобы привлечь даже самого привередливого обывателя.
  .row{style: 'margin-bottom: 50px;'}
    .span6.page-text-block
      %h3
        Используйте все ваши достоинства
      Мы разработали уникальную технологию поиска, позволяющую клиенту найти ваше заведение не только по стандартным "типу кухни" или "среднему счёту", но и по сотням других параметров. Вы можете указать неограниченное количество слов и фраз, характеризующих ваше заведение и быть уверены в том, что ваш клиент найдёт вас.
    
    .span6.page-text-block
      %h3
        Мы открыты к общению
      Если у вас появились вопросы, вы в любой момент можете задать их вашему персональному менеджеру или по общему телефону. Мы стремимся сделать лучший сервис в стране и это не пустые слова. Мы относимся к заведениям, работающим через нашу систему, как к партнёрам по бизнесу и всегда открыты для ваших предложений и пожеланий.

  .row
    .span12{style: 'text-align: center'}
      %a#page-about-start-work-button{href: new_account_registration_path, style: 'margin-bottom: 50px;'}
        Начните работать с нами прямо сейчас!