.container
  .row{style: 'margin-top: 25px; margin-bottom: 50px;'}
    .span12{style: 'text-align: center'}
      #page-h1
        Что вам нужно знать о Gurmap

  .row{style: 'margin-bottom: 50px;'}
    .span4.page-text-block
      %h3
        Это скидки
      Gurmap.ru - это сервис бесплатных скидок в кафе и рестораны. В настоящий момент более чем 100 заведений готовы предоставить вам скидку от 30% в определённые дни и часы на всё своё меню, включая кальяны и алкоголь.
    .span4.page-text-block
      %h3
        Это бесплатно
      Мы абсолютно уверены в том, что платить за скидку - очень дурной тон. Это как платить за подарок. Поэтому мы совершенно бесплатны для наших посетителей. Мы очень надеемся, что таким образом мы делаем этот мир немного лучше, ведь вкусная и дешёвая еда - это здорово.
    .span4.page-text-block
      %h3
        Это удобно
      Мы очень стараемся, чтобы использование нашего сервиса вызывало исключительно положительные эмоции. По этой причине мы отказались от всего лишнего, сделали самый удобный поиск и свели бронирование столика буквально к паре кликов. И это лишь только начало.
  .row
    .span12{style: 'text-align: center'}
      %a#page-about-start-work-button{href: root_path}
        Перейти к карте