-#

  #about-modal-background
  #about-modal
    .main
      Гурмэп - это бесплатные скидки в кафе и рестораны
    .blocks.row
      .block
        .name
          Главное - карта
        .info
          Все заведения, предоставляющие скидку через наш сайт, показаны на карте в виде голубых пиктограмм. Наведя курсор мыши на пиктограмму вы увидите краткую информацию о заведении, а щёлкнув по ней, откроете окно с подробной иформацией и формой для бронирования столика.
      .block
        .name
          Удобный поиск
        .info
          В верхнем левом углу сайта расположена форма поиска. С её помощью вы можете отфильтровать заведения по минимальной скидке, среднему счёту или же воспользоваться "умным поиском". "Умный поиск" - это одно поле, в котором вы можете описать все пожелания к заведению, которое вы хотели бы посетить. Например - "тихо", "итальянская кухня" или "метро Маяковская".
      .block
        .name
          Это просто
        .info
          Чтобы оформить заказ на бронь столика со скидкой в кафе или ресторане, выберите доступные день и час, количество персон и нажмите кнопку "Забронировать". Заведение тут же получит уведомление о вашем визите и с нетерпением будет ожидать клиента.

    .button-strip
      .button#close-about-modal
        Перейти к карте
