.second-floor

  - if user_logged_in?
    = current_user.get_name
  - else
    %a.login-link{href: "#"}
      Войти
.first-floor
  %a{href: info_pages_path}
    О проекте
  %a{href: about_pages_path}
    Заведениям